body{
    margin:0;
    padding: 0;
    background-image: linear-gradient(125deg, #8360c3, #2ebf91);
    min-height: 100vh;
    color: whitesmoke;
    text-align: center;
    max-width: 100vw;
    overflow: hidden;
}
#remAll{
    display: block;
    max-width: 200px !important;
}
#feedback{
    background-color: rgba(255,255,255,0.7);
    max-width: 300px;
}
#listCount{
    list-style: none;
}
@media print{
    #grocerySection{
        color: #000;
    }
    #grocerySection li{
        font-size: 16px;
    }
    #groceryList li{
        list-style: circle;
    }
}